body {
	font-family: 'Gothic A1', sans-serif;
	margin: 0;
	padding: 0;
}

.home {
	color: black !important;
	display: block;
	font-size: 40px !important;
	margin: 0 0 16px 0;
}

.nav, .home__wrapper {
	padding: 24px 64px;
}

.home__wrapper {
	align-items: flex-start;
	display: flex;
}

.nav a {
	color: gray;
	font-size: 24px; 
	margin-right: 16px;
	text-decoration: none;
	transition: opacity .4s ease-in-out;
}

.home__image {
	width: 30%;
}

.loading {
	font-size: 24px;
	margin: 24px 0;
	text-align: center;
	width: 100%;
}

a:hover {
	opacity: .5;
}

.slideshow {
	display: none;
	height: 400px;
	margin-bottom: 64px;
	width: 100%;
}

.slide {
	height: 100%;
}

.about__body {
	padding: 0 64px 24px;
	width: 70%;
}

h2 {
	margin-top: 0;
}

.spotify {
	margin: 24px 5%;
	height: auto;
	width: 90%;
}
