body {
	font-family: 'Gothic A1', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 0;
}

.nav {
	padding: 24px 64px;
}

.nav a {
	color: gray;
	font-size: 24px; 
	margin-right: 16px;
	text-decoration: none;
	transition: opacity .4s ease-in-out;
}

.loading {
	font-size: 24px;
	margin: 24px 0;
	text-align: center;
	width: 100%;
}

a:hover {
	opacity: .5;
}

.slideshow {
	display: none;
	height: 400px;
	width: 100%;
}

.slide {
	height: 100%;
}

.about__body {
	padding: 24px 64px;
}
